<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Cooking Kuy
            </h1>
        </div>
        <button id="menu" class="header__menu">☰</button>
        
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Home</a></li>
                <li class="nav__item"><a href="#">Favorite</a></li>
                <li class="nav__item"><a href="https://www.instagram.com/mushlih.nuris/">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="jumbotron">
        <div class="jumbotron__inner">
            <h1 class="jumbotron__title">Nikmati Hidup Dengan Makan Makanan yang Disukai</h1>
            <p class="jumbotron__tagline">Tubuh yang sehat berasal dari makanan yang enak dan sehat</p>
        </div>
    </div>

    <main>
        <section class="content" id="content">
            <div class="explore">
                <h1 class="explore__label">Explore Restaurant</h1>
                
                <div class="resto"></div>
            </div>
        </section>
    </main>
    
    <footer>
        <p>Copyright © 2022 - Cooking Kuy</p>
    </footer>
</body>
</html>
