@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #F5EAEA;
    background-color: #5B5656;
}

/* Skip link */

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #519872;
    color: #0F1123;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

/* Header */

.header {
    min-height: 56px;
    transition: min-height 0.3s;
    background-color: #382933;
    color: #EEEEEE;
}

.header__inner {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
}

.header__menu {
    font-size: 32px;
    margin: 10px auto auto;
    display: block;
    width: 30px;
}

button {
    background: inherit;
    display: inline-block;
    color: inherit;
    border: none;
    min-width : 44px;
    min-height: 44px;
}

/* Nav */

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #EEEEEE;
    min-width : 44px;
    min-height: 44px;
}

.nav a:hover {
    text-decoration: underline;
    color: #000;
    background-color: #EEEEEE;
    border-radius: 40px;
}

/* Jumbotron */

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    min-height: 350px;
    width: 100%;
    text-align: center;
    background-position: center;
}

.jumbotron__inner {
    margin: 0 auto;
    max-width: 800px;
}

.jumbotron__title {
    color: #fff;
    font-size: 36px;
}

.jumbotron__tagline {
    color: #fff;
    font-size: 20px;
}

/* Main */

main {
    width: 100%;
    margin: 0 auto;
}

/* Content */

.content {
    padding: 32px;
}

/* Explore */

.explore {
    width: 100%;
    text-align: center;
    margin: 40px auto;
}

.explore__label {
    font-size: 32px;
    font-weight: lighter;
}

.explore__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/* Resto */

.resto {
    margin: 32px auto auto;
    text-align: left;
}

/* Resto Item */

.resto-item {
    box-shadow: 0 4px 8px 0 rgba(247, 247, 247, .2);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.resto-item__header {
    position: relative;
}

.resto-item .resto-item__header .resto-item__thumbail {
    width: 100%;
}

.resto-item .resto-item__header .resto-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
}

.resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
    margin-left: 10px;
}

.resto-item__content {
    margin: 10px;
}

.resto-item__name {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    transform: .3s opacity;
}

.resto-item__city {
    font-size: 12px;
    text-transform: capitalize;
    margin-top: 5px;
    color: #b3b3b3;
}

.resto-item__name:hover {
    opacity: .5;
}

.resto-item__name a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    min-width : 44px;
    min-height: 44px;
}

.resto-item__description {
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of line to show */
    -webkit-box-orient: vertical;
}

/* Detail */

.detail {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    text-align: start;
}

.detail-resto__name {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: 16px;
    transform: .3s opacity;
}

.detail-resto__name::after {
    content: '';
    margin: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.detail .detail-resto__thumbnail {
    width: 100%;
    max-width: 400px;
}

.detail .detail-resto__info h3,
.detail .detail-resto__review h3 {
    font-size: 22px;
    margin: 8px 0;
    text-align: center;
}

.detail .detail-resto__info h3,
.detail .detail-resto__review h3::after {
    content: '';
    margin-top: 16px;
}

.detail .detail-resto__info h4 {
    font-size: 18px;
    margin: 10px 0;
}

.detail .detail-resto__review .reviewer {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(247, 247, 247, .2);
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
}

/* Like */

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */

footer {
    background-color: #382933;
    text-align: center;
    width: 100%;
    padding: 2em;
}

footer p {
    font-size: 16px;
    color: #EEEEEE;
    display: inline-block;
}